*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 
}

body{
    font-family: 'inter', sans-serif;
    height: 100vh;
    background-image: radial-gradient(ellipse, rgb(150, 34, 150) , rgb(49, 12, 49) );
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    all:unset;
}

.main-counter {
    background-color: rgb(202, 50, 216);
    height: 65vh;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 25px 120px 0 rgba(0, 0, 0, 0.731);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.main-counter-limit{
    background-color: rgb(119, 25, 128);
}

.heading{
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    line-height: 10px;
    align-items: center;
}

.counter-value{
    font-size: 80px;
    margin: 10px;
    font-weight: 800;
    opacity: 0.8;
}

.reset-icon{
    cursor: pointer;
    margin-bottom: 20px;
}

.reset-counter{
    font-size: 30px;
    opacity: 0.4;
    transition: all 0.5s;
}

.reset-counter:hover{
    opacity: 0.7;
}

.counter-buttons{
    background-color: rgb(44, 14, 43);
    width: 100%;
    margin-top: auto;
    height: 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
}

.counter-button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.counter-button:hover{
    background-color: rgb(56, 25, 56);
}

.counter-icon{
    color: violet;
    opacity: 0.7;
    font-size: 40px;
}

.counter-button-decrease{

}

.counter-icon-minus{

}

.counter-button-increase{
    border-left: 1px solid violet;
}


.counter-icon-plus{

}

@media (min-width:650px) or (min-height:750px) {
    .main-counter{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .heading{
        margin-top: 100px;
    }
    .counter-value{
        margin:100px 0px;
    }
    .counter-buttons{
        height: 150px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}